<h1>Here's a list of our cats</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Birthdate</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Description</th>
    
  </tr>
  <% @cats.each do |cat| %>
    <tr>
      <td><%= cat.name %></td>
      <td><%= cat.birth_date %></td>
      <td><%= cat.color %></td>
      <td><%= cat.sex %></td>
      <td><%= cat.description %></td>
    </tr>
  <% end %>
</table>

<!-- <ul>
  <% @cats.each do |cat| %>
    <li>
      <ul>
        <li> <%= cat.name %> </li>
        <li> <%= cat.birth_date %> </li>
        <li> <%= cat.color %> </li>
        <li> <%= cat.sex %> </li>
        <li> <%= cat.description %> </li>
      </ul>
    </li>
  <% end %>
</ul> -->
